html
  head
    link(rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
  body
    .container
      block content
